<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/ar_style.css" rel="stylesheet" type="text/css"/>
        <script src="/jquery_files/jquery.js" type="text/javascript" ></script>
        <script src="/jquery_files/jquery.cycle.all.js" type="text/javascript" ></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <script type="text/javascript" >
            $(document).ready(function()
            {
                $('#img_slider').cycle('uncover');
            }        
            
            );
        </script> 
    </head>
   <body class="container">
       
        <div id="header">
            <a class="logo" href="#"><h1 class="animated infinite heartBeat">Feel Reaction</h1></a>
            <nav> 
				
                 <li><a href="/">HOME</a></li> 
            </nav>
        </div><br><br><br>
   <centre>
       
        <div id="outerbox" align="centre" style="display: block">
            <div id="img_slider" >       
            
                <img src="/img_slider/1.jpg" style="max-width: 100%;height:auto;"/>
                 <img src="/img_slider/2.jpg" style="max-width: 100%;height:auto;"/>
                  <img src="/img_slider/3.jpg" style="max-width: 100%;height:auto;"/>
                   <img src="/img_slider/4.jpg" style="max-width: 100%;height:auto;"/>
            
            </div>
        </div>
   </centre>
             <div id="vi"> 
                <button onclick="myfunction2()" style="display: block"><h2>{{elementName}}</h2></button>
                    <div id="myDIV2">
                
                <table>
                    <tbody>
                        <tr>
							<td>
								Atomic Number 
							</td>
							<td>
								{{atomNumber}}
							</td>
						</tr>
						<tr>
							<td>
								Atomic Mass 
							</td>
							<td>
								{{atomMass}} u
							</td>
						</tr>
						<tr>
							<td>
								Electronegativity
							</td>
							<td>
								{{electonegative}}
							</td>
						</tr>
						<tr>
							<td>
								Density
							</td>
							<td>
								{{density}} g/L
							</td>
						</tr>
						<tr>
							<td>
								Melting point 
							</td>
							<td>
								{{meltPoint}} &#8451
							</td>
						</tr>
						<tr>
							<td>
								Boiling Point 
							</td>
							<td>
								{{boilPoint}} &#8451
							</td>
						</tr>
						<tr>
							<td>
								Vanderwaal's radius
							</td>
							<td>
								{{vRadius}} &#8491
							</td>
						</tr>
						<tr>
							<td>
								Ionic radius 
							</td>
							<td>
								{{ionRadius}} pm
							</td>
						</tr>
						<tr>
							<td>
								Isotopes
							</td>
							<td>
								{{isotopes}}
							</td>
						</tr>
						<tr>
							<td>
								Electronic shell
							</td>
							<td>
								{{eShell}}
							</td>
						</tr>
						<tr>
							<td>
								Energy of first ionisation 
							</td>
							<td>
								{{energyFirstIon}} eV
							</td>
						</tr>
						<tr>
							<td>
								Discovered by 
							</td>
							<td>
								{{dicoverer}}
							</td>
						</tr>
                    </tbody>
                </table>
                    </div>
                 <script>function myfunction2(){
                        var x=document.getElementById("myDIV2");
                        if(x.style.display==="none"){
                            x.style.display="block";
                        }else{
                            x.style.display="none";
                        }
                    }
                    </script>
            </div>
         
        <footer>
            <p>AR IS THE MODERN FUTURE </p><br><br><br>	
        </footer>
             <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>
    </body>
</html>
 